h1{
    font-size: 40px;
    font-weight: 700;
    font: 'Poppins';
    color: rgb(71, 233, 22);
    line-height: 50px;
    padding-top: 230px;
    text-align: center;
    background-image: url("{% static '/images/slots3' %}");;
    position: center;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 700px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 210px 0 0 210px;
    background-color: rgb(255, 255, 255);
}
.center{
    display: inline;
    justify-content: right;
    text-align: right;
    margin-left: 440px;
    align-items: right;
}

#bg{
    background-repeat: no-repeat;
    background-size: 1400px 700px;
}
           